<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tugas 12 AJAX Axios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div id="app">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="row justify-content-center">
                    <div class="col-lg-7 justify-content-center">
                        <div class="card">
                            <div class="card-header text-center">
                                <h3>
                                    <strong>AJAX Axios</strong>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-danger" role="alert" v-show="errorList.length"
                                     v-for="error in errorList">
                                    {{error}}
                                </div>
                                <form>
                                    <div class="form-group">
                                        <label for="inputName">Name</label>
                                        <input type="text" name="name" ref="name" class="form-control" id="inputName"
                                               placeholder="Place Your Name" v-model="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress">Address</label>
                                        <input type="text" name="address" ref="address" class="form-control"
                                               id="inputAddress" placeholder="Apartment, studio, or floor"
                                               v-model="address">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPhone">Phone</label>
                                        <input type="text" name="no_hp" ref="no_hp" class="form-control" id="inputPhone"
                                               placeholder="Your Phone Number" v-model="no_hp">
                                    </div>
                                    <button type="submit" @click.prevent="storeMember"
                                            @keyup.enter.prevent="storeMember" class="btn btn-primary"
                                            v-show="isEditing === false">Add
                                    </button>
                                    <button type="submit" @click.prevent="updateMember(editedMemberId)"
                                            @keyup.enter.prevent="updateMember(editedMemberId)" class="btn btn-warning"
                                            v-show="isEditing === true">Update
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive my-3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Photo Profile</th>
                            <th scope="col">
                                Action
                            </th>
                        </tr>
                        </thead>
                        <members-component v-for="member in members" :key="member.id" :member="member" :showed-member="showedMember" :index="index"></members-component>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--Prod-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<!--Dev-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script>

    Vue.component('members-component', {
        props: ['member', 'showedMember', 'index'],
        template: `
          <tbody>
          <tr>
            <td>{{ ++index }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.address }}</td>
            <td>{{ member.no_hp }}</td>
            <td><img
                :src="member.photo_profile ? 'http://demo-api-vue.sanbercloud.com/' + member.photo_profile : 'https://dummyimage.com/16:9x1080'"
                alt="avatar" width="200px"></td>
            <td>
              <button class="btn btn-sm btn-warning" @click="editMember(member)"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-sm btn-danger" @click="deleteMember(member.id)"><i class="fa fa-trash"></i>
              </button>
              <button type="button" class="btn btn-sm btn-success my-1" @click="showMember(member.id)"
                      data-toggle="modal" data-target="#uploadPhotoProfile"><i class="fa fa-upload"></i></button>
              <button type="button" class="btn btn-sm btn-info" @showMember="showMember(member.id)" data-toggle="modal"
                      data-target="#detailMember"><i class="fa fa-eye"></i></button>
              <div class="modal fade" id="detailMember" data-backdrop="static" data-keyboard="false" tabindex="-1"
                   aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Details Member</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img
                          :src="showedMember.photo_profile ? 'http://demo-api-vue.sanbercloud.com/' + showedMember.photo_profile : 'https://dummyimage.com/16:9x1080'"
                          class="rounded mx-auto d-block" alt="avatar" width="450px">
                      <table class="table my-3">
                        <thead class="thead-dark">
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Address</th>
                          <th scope="col">Phone</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>{{ showedMember.name }}</td>
                          <td>{{ showedMember.address }}</td>
                          <td>{{ showedMember.no_hp }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


              <div class="modal fade" id="uploadPhotoProfile" data-backdrop="static" data-keyboard="false"
                   tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="uploadPhoto">Upload Photo Profile</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="custom-file my-3">
                        <input type="file" id="myfile" ref="file" class="custom-file-input"
                               onchange="$(this).next().after().text($(this).val().split('\\\\').slice(-1)[0])"
                               accept="image/*, application/json">
                        <label class="custom-file-label" for="myfile">Choose Photo Profile...</label>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" @click.prevent="uploadPhoto(showedMember.id)"
                              data-dismiss="modal">Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        `,
        data() {
            return {
                no: 0
            }
        },
        methods: {
            // showMember () {
            //     this.$emit('showMember');
            // }
        },
        created () {
            this.$emit('showMember');
        }

    })

    const vm = new Vue({
        el: '#app',
        data: {
            members: [],
            showedMember: {},
            name: '',
            address: '',
            no_hp: '',
            isEditing: false,
            errorList: [],
            editedMemberId: null,
            file: {},
            index: 0
        },
        methods: {
            async getMembers() {
                try {
                    const endpoint = 'http://demo-api-vue.sanbercloud.com/api/member';
                    const response = await axios.get(endpoint);
                    let data = response.data;
                    this.members = data.members;
                } catch (error) {
                    console.log(error);
                }
            },
            async showMember(id) {
                try {
                    const endpoint = `http://demo-api-vue.sanbercloud.com/api/member/${id}`;
                    const response = await axios.get(endpoint);
                    let data = response.data;
                    this.showedMember = data.member;
                } catch (error) {
                    console.log(error);
                }
            },

            async storeMember() {
                this.errorList = [];
                try {
                    if (this.name.trim().length === 0) {
                        this.errorList.push('Nama Tidak Boleh Kosong!!');
                    }
                    if (this.address.trim().length > 75) {
                        this.errorList.push('Alamat Tidak Boleh Lebih Dari 75 Karakter!!');
                    }
                    if (this.no_hp.trim().length < 10) {
                        this.errorList.push('Nomor Telepon Tidak Boleh Kurang dari 10 Karakter!!')
                    }

                    if (!this.errorList.length) {
                        const url = 'http://demo-api-vue.sanbercloud.com/api/member';
                        const config = {
                            method: 'post',
                            url,
                            data: {
                                name: this.name,
                                address: this.address,
                                no_hp: this.no_hp
                            }
                        };
                        const response = await axios(config);
                        const data = response.data;
                        await this.getMembers();
                        this.clearForm();
                        alert(data.message);

                    }
                } catch (error) {
                    console.log(error);
                }
            },

            editMember(member) {
                this.isEditing = true;
                this.editedMemberId = member.id;
                this.name = member.name;
                this.address = member.address;
                this.no_hp = member.no_hp;
            },

            async updateMember(id) {
                this.errorList = [];

                try {
                    if (this.name.trim().length === 0) {
                        this.errorList.push('Nama Tidak Boleh Kosong!!');
                    }
                    if (this.address.trim().length > 75) {
                        this.errorList.push('Alamat Tidak Boleh Lebih Dari 75 Karakter!!');
                    }
                    if (this.no_hp.trim().length < 10) {
                        this.errorList.push('Nomor Telepon Tidak Boleh Kurang dari 10 Karakter!!')
                    }

                    if (!this.errorList.length) {
                        const config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {_method: 'PUT'},
                            data: {
                                name: this.name,
                                address: this.address,
                                no_hp: this.no_hp
                            }
                        };

                        const response = await axios(config);
                        const data = response.data;
                        this.clearForm();
                        alert(data.message);
                        await this.getMembers();
                    }
                } catch (error) {
                    console.log(error);
                }
            },

            async deleteMember(id) {
                const cf = confirm(`Apakah Anda Yakin?`);
                if (cf) {
                    try {
                        const config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {_method: 'DELETE'}
                        };

                        const response = await axios(config);
                        alert(response.data.message);
                        await this.getMembers();
                    } catch (error) {
                        console.log(error);
                    }
                }
            },

            async uploadPhoto(id) {
                this.file = this.$refs.file[0].files[0];
                try {
                    let formData = new FormData();
                    formData.append('photo_profile', this.file);
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        data: formData
                    };

                    const response = await axios(config);
                    alert(response.data.message);
                    await this.getMembers();
                } catch (error) {
                    console.log(error);
                }
            },

            clearForm() {
                this.name = '';
                this.address = '';
                this.no_hp = '';
                this.editedMemberId = null;
                this.isEditing = false;
            },


        },
        async created() {
            await this.getMembers();
        }
    })
</script>
</body>
</html>